<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gestorong.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gestorong.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GestorONG</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GestorONG</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GestorONG.DataModel.gestor_ongd_sps_prodEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:spinola-solidaria.database.windows.net,1433;Initial Catalog=gestor_ongd_sps_prod;User ID=managerspin@spinola-solidaria.database.windows.net;Password=nuw7sa!-pEn" Name="Data Source=tcp:spinola-solidaria.database.windows.net,1433;Initial Catalog=gestor_ongd_sps_prod;User Id=managerspin@spinola-solidaria.database.windows.net;Password=nuw7sa!-pEn" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GestorONG.DataModel.gestor_ongd_sps_prodEntities, GestorONG" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GestorONG.DAL.GestorONGDContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:spinola-solidaria.database.windows.net,1433;Initial Catalog=gestor_ongd_sps_prod;User ID=managerspin@spinola-solidaria.database.windows.net;Password=nuw7sa!-pEn" Name="Data Source=tcp:spinola-solidaria.database.windows.net,1433;Initial Catalog=gestor_ongd_sps_prod;User Id=managerspin@spinola-solidaria.database.windows.net;Password=nuw7sa!-pEn" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GestorONG.DAL.GestorONGDContext, GestorONG" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GestorONG.DAL.GestorONGDContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:spinola-solidaria.database.windows.net,1433;Initial Catalog=gestor_ongd_sps_prod;User Id=managerspin@spinola-solidaria.database.windows.net;Password=nuw7sa!-pEn</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GestorONG.DataModel.gestor_ongd_sps_prodEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:spinola-solidaria.database.windows.net,1433;Initial Catalog=gestor_ongd_sps_prod;User Id=managerspin@spinola-solidaria.database.windows.net;Password=nuw7sa!-pEn</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GestorONG.DAL.GestorONGDContext" />
  </ItemGroup>
</Project>