html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: #e65858;
    text-align: center;
}

/*Font-size-relative*/
h1{
    font-size: 2.5em;
}

h2{
    font-size: 2.3em
}

h3{
    font-size: 2.1em;
}

h4{
    font-size: 1.9em;
}

h5{
    font-size: 1.7em;
}

h6{
    font-size: 1.5em;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.body-content:after {
  content: "";
  display: block;
}
footer, .body-content:after {
  height: 142px; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/************ Set header styles***********/
/*Set background color*/
.navbar-inverse{
    background-color: #e65858;
}

/*Set menu items text color*/
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

/*Set styles for user-text header*/
.user-header {
    color: #ffffff !important;
    width: 100%;
    display: block;
}

header img {
    margin: 0 auto;
}


/***********  End header styles***********/

/***********  Set footer styles***********/

/* Set footer container styles */
.container-fluid.footer {
    background-color: #e65858;
    color: #ffffff;
}

/* Set styles for logo on the righ*/
.logo-footer .img-logo {
    margin: 0 auto;
}


.footer a{
    color: #ffffff;
}

/***********  End footer styles***********/

/***********  body-content *************/

.relleno-superior{
    padding-top: 4em;
}

@media (max-width: 767px){
    .relleno-superior{
        padding-top: 8em;
    }
}

th, td {
    text-align: center;
}

input, select, textarea {
    max-width: 420px;
}

.filtros-listado {
    padding-bottom: 1em;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.btn-group.bootstrap-select.form-control.col-xs-12.col-md-8 {
    max-width: 65%;
}

/******* STEP BY STEP FORM STYLES (COLABORADORES) *******/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


/**********     End body content*/

/*********      Index styles *********/

.img-responsive.imagen-menu {
    max-height: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
}

/*********       End Index styles*******/