@model GestorONG.DataModel.tiposIncidencias

@{
    ViewBag.Title = "Eliminar Tipo de Incidencia de Seguridad";
}

<h2 class="confirmacion-eliminacion">¿Estás seguro de que deseas eliminar el Tipo de Incidencia de Seguridad <strong>@Html.DisplayFor(model => model.nombreIncidencia)</strong>?</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row botones-inferiores">
        <div class="col-xs-12 col-md-12 text-center">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
}

